<h1>Owners</h1>

<%= form_with(url: owners_path, method: :get, local: true) do %>
  <%= label_tag :search, "Search Owners" %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<%= paginate @owners %>

<ul>
  <% @owners.each do |owner| %>
    <li><%= link_to owner.name, owner_path(owner) %></li>
  <% end %>
</ul>
