
<h1><%= @breed.name %></h1>

<p><strong>Sub-breeds:</strong> <%= @breed.sub_breeds %></p>
<p><strong>Owner:</strong> <%= @breed.owner.name if @breed.owner %></p>
<p><strong>Dog Shows:</strong>
  <ul>
    <% @breed.dog_shows.each do |show| %>
      <li><%= show.name %> - <%= show.date %></li>
    <% end %>
  </ul>
</p>
