<h1><%= @breed.name %></h1>
<p><strong>Sub Breeds:</strong> <%= @breed.sub_breeds %></p>
<p><strong>Owner:</strong> <%= @breed.owner.name if @breed.owner %></p>

<h2>Dog Shows</h2>
<ul>
  <% @breed.dog_shows.each do |show| %>
    <li><%= show.name %> on <%= show.date %></li>
  <% end %>
</ul>

<h2>Facts</h2>
<ul>
  <% @breed.breed_facts.uniq.each do |fact| %>
    <li><%= fact.fact %></li>
  <% end %>
</ul>
