<h1><%= @breed.name %></h1>

<h2>Owner</h2>
<p><%= @breed.owner.name %></p>

<h2>Dog Shows</h2>
<ul>
  <% @breed.dog_shows.each do |show| %>
    <li><%= show.name %> - <%= show.date %></li>
  <% end %>
</ul>

<h2>Fun Facts</h2>
<% if @breed.breed_facts.any? %>
  <ul>
    <% @breed.breed_facts.each do |fact| %>
      <li><%= fact.fact %></li>
    <% end %>
  </ul>
<% else %>
  <p>No fun facts available for this breed.</p>
<% end %>
