<nav>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'About', about_path %></li>
    <li><%= link_to 'Breeds', breeds_path %></li>
    <li><%= link_to 'Owners', owners_path %></li>
    <li><%= link_to 'Dog Shows', dog_shows_path %></li>
  </ul>
</nav>
